<section class="page_section page__section_1">
  <h1 class="page__title">Отличная статья 1</h1>
  <div class="page__text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolores inventore reiciendis, quos, voluptatem officia nulla dignissimos unde atque assumenda sed a mollitia, reprehenderit excepturi aspernatur eveniet iure quasi esse.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolores inventore reiciendis, quos, voluptatem officia nulla dignissimos unde atque assumenda sed a mollitia, reprehenderit excepturi aspernatur eveniet iure quasi esse.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolores inventore reiciendis, quos, voluptatem officia nulla dignissimos unde atque assumenda sed a mollitia, reprehenderit excepturi aspernatur eveniet iure quasi esse.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolores inventore reiciendis, quos, voluptatem officia nulla dignissimos unde atque assumenda sed a mollitia, reprehenderit excepturi aspernatur eveniet iure quasi esse.</p>
  </div>
</section>
