<div class="page__side side-page _side-wrapper">
  <!-- <div class="_auto-wrapper"><img src="./img/001.png" alt=""></div> -->
  <div class="side-page__block _side-block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestias illo iste fugit quod minima porro saepe quas cum. Debitis possimus eligendi tempora explicabo, quisquam cum numquam distinctio doloremque ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestias illo iste fugit quod minima porro saepe quas cum. Debitis possimus eligendi tempora explicabo, quisquam cum numquam distinctio doloremque ducimus?
  </div>
</div>
